extends theme

block content
  h2 Please sign in via Github
  p You must be a member of our Github Orgs to view this content: <strong>#{locals.orgs}</strong>
  a(target='_self', href='/auth/github', class='btn btn-primary bt-lg', role='button') Developer Log In
  a(target='_self', href='/auth/saml', class='btn btn-info bt-lg', role='button') Employee Log In
