extends theme


block headCSS
  //- link(rel='stylesheet' href='/vendors/range-slider/css/angular.rangeSlider.css')
  //- link(rel='stylesheet' href='/vendors/angular-toggle-switch/angular-toggle-switch.css')
  //- link(rel='stylesheet' href='/vendors/angular-toggle-switch/angular-toggle-switch-bootstrap.css')


block content
  div(data-ng-view)


block footJS
  script(src='js/app/routes.js')
  script(src='js/app/BaseController.js')
  script(src='js/app/BaseDirectives.js')
  script(src='vendors/moment/moment.min.js')
  +ngModule('AppList')
  +ngModule('EditApps')
  +ngModule('Github', 2)
  //- script(src='https://code.angularjs.org/1.2.16/angular-route.min.js')
  //- script(src='/vendors/range-slider/js/angular.rangeSlider.js')
  //- script(src='/vendors/angular-toggle-switch/angular-toggle-switch.min.js')
  //- script(src='js/controllers.js')
  //- script(src='js/directives.js')
  //- script(src='js/services.js')
  //- script(src='js/filters.js')
