extends theme


block headCSS
  //- link(rel='stylesheet' href='/vendors/range-slider/css/angular.rangeSlider.css')
  //- link(rel='stylesheet' href='/vendors/angular-toggle-switch/angular-toggle-switch.css')
  //- link(rel='stylesheet' href='/vendors/angular-toggle-switch/angular-toggle-switch-bootstrap.css')


block content
  div(data-ng-view)
  loading(status='loading')


block footJS
  script(src='js/Base/routes.js')
  +ngModule('Base', 5)
  script(src='vendors/moment/moment.min.js')
  +ngModule('App', 14)
  +ngModule('App','AppList')
  +ngModule('App','AddApp', 1)
  +ngModule('App','EditApp', 1)
  +ngModule('Experiment', 6)
  +ngModule('Github', 2)
  //- script(src='https://code.angularjs.org/1.2.16/angular-route.min.js')
  //- script(src='/vendors/range-slider/js/angular.rangeSlider.js')
  //- script(src='/vendors/angular-toggle-switch/angular-toggle-switch.min.js')
  //- script(src='js/controllers.js')
  //- script(src='js/directives.js')
  //- script(src='js/services.js')
  //- script(src='js/filters.js')
