include partials/mixins

doctype html
html(lang='en', data-ng-app='featureApp')
  head
    title FS-Feature
    base(href='' + baseUrl)
    // meta(name='viewport' content='width=device-width')
    link(rel='stylesheet' href='/vendors/bootstrap/css/bootstrap.css')
    block headCSS
    link(rel='stylesheet' href='/css/feature.css')
  body
    header#pageHeader
      .container
        h1
          a(href='/') Feature: Feature Flags as a Service
        .account-info(data-account-info)

    .container(data-ng-class='loading ? "loading" : "loaded"')
      if unauthorized
        .alert.alert-danger.alert-dismissable
          button(type='button', class='close', data-dismiss='alert', aria-hidden='true') &times;
          strong='Sign in Failed! '
          = 'You don\'t have authorization to view this page. You must be a member of the '
          strong fs-eng
          = ' or '
          strong fs-webdev
          = ' to view this content '
      block content

    script(src='//code.jquery.com/jquery-2.1.1.min.js')
    script(src='/vendors/bootstrap/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js')
    script(src='https://code.angularjs.org/1.2.19/angular-route.js')
    //- script(src='/vendors/ui-bootstrap/ui-bootstrap-0.11.0.min.js')

    // Always include the app and the AccountInfo
    script(src='js/Base/index.js')

    +ngModule('AccountInfo', 6)

    //- script(src='js/AccountInfo/AccountInfoDirectives.js')
    //- script(src='js/AccountInfo/AccountInfoService.js')

    block footJS
