extends theme

block content
  h2 Please sign in via Github
  p You must be a member of the <strong>-eng</strong> or <strong>-webdev </strong>orgs  to view this content.
  a(target='_self', href='/auth/github', class='btn btn-primary bt-lg', role='button') Sign in via Github

block footJS
  script(src='js/loggedOutApp.js')
  script(src='js/accountInfo/AccountInfoDirective.js')
  script(src='js/accountInfo/AccountInfoService.js')
