body > header {
  background: #a55871;
  background: radial-gradient(ellipse at 50% 15%, #fda08d 0%, #cd051f 25%, #d0021b 30%, #a55871 65%);
  color: #fff;
  overflow: auto;
}
body > header a,
body > header a:hover {
  color: #fff;
}
.brand {
  display: inline-block;
  border-width: 0 1px;
  border-style: solid;
  border-color: #d8d8d8;
  height: 69px;
  margin: 31px 0 25px 100px;
  padding: 5px 11px 5px 25px;
  position: relative;
}
.brand:before {
  content: '';
  display: block;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
  position: absolute;
  left: -100px;
  top: -6px;
}
.brand:hover {
  text-decoration: none;
}
.brand h1,
.brand .h1,
.brand h2,
.brand .h2 {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
}
.brand h1,
.brand .h1 {
  letter-spacing: 18px;
  line-height: 43px;
}
.brand h2,
.brand .h2 {
  font-size: 12px;
  letter-spacing: 5.04px;
  line-height: 15px;
}
.switch {
  border-radius: 0;
  vertical-align: middle;
}
.switch .switch-left {
  background: #d73246;
}
.switch .switch-right {
  background: #000;
  color: #fff;
}
body {
  font-family: 'Maven Pro', sans-serif;
  background-color: #f6f6f6;
}
h2,
.h2 {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5.22px;
}
h2 label,
.h2 label {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  letter-spacing: normal;
}
a {
  color: #000;
}
.btn {
  border-radius: 0;
  border-width: 0 0 1px;
  text-transform: uppercase;
}
.btn.inactive {
  background-color: #d8d8d8;
  border-color: #ccc;
  color: rgba(51,51,51,0.3);
}
.btn.inactive .glyphicon-ok {
  display: none;
}
.btn.inactive .glyphicon-unchecked {
  display: inline-block;
}
.btn.active .glyphicon-ok {
  display: inline-block;
}
.btn.active .glyphicon-unchecked {
  display: none;
}
.btn-danger:not(.inactive) {
  background: #000;
  border-color: #ccc;
}
.btn-primary:not(.inactive) {
  background-color: rgba(208,2,27,0.8);
  border-color: #ff576c;
}
.btn-sm,
.btn-group-sm > .btn {
  border-radius: 0;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  border-radius: 0;
}
.input-group-addon {
  background: transparent;
  border: 0;
}
.panel {
  background: transparent;
  margin-bottom: 30px;
}
.panel-default > .panel-heading {
  background-color: rgba(102,102,102,0.1);
}
.panel-body {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
.table {
  border-top: 1px solid #d8d8d8;
  border-collapse: separate;
}
.table > thead > tr > th {
  border-bottom: 1px solid #d8d8d8;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #fff;
  font-weight: 500;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 1px solid #fff;
}
.table-striped > tbody > tr > td,
.table-striped > tbody > tr > th {
  border-top: 1px solid #fff;
}
.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: transparent;
}
.table-striped > tbody > tr:nth-child(odd) > th {
  color: #fff;
  background-color: rgba(208,2,27,0.5);
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: rgba(216,216,215,0.33);
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background: rgba(208,2,27,0.8);
  color: #fff;
  cursor: pointer;
}
.modal-header {
  background: rgba(208,2,27,0.8);
  color: #fff;
}
.modal-content {
  background-color: #f6f6f6;
}
.list-group-item:nth-child(odd) {
  background: #eee;
}
.list-group-item:nth-child(even) {
  background: transparent;
}
.panel-heading p {
  padding-left: 30px;
}
.panel > .list-group .list-group-item:hover {
  background: rgba(208,2,27,0.8);
  color: #fff;
}
.panel > .list-group .list-group-item.list-group-button-item {
  background: transparent;
  color: #333;
}
.panel-body.row > .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.panel-body.row > .col-md-4 .panel {
  border-radius: 0;
  margin-bottom: 0;
}
[data-ng-view] {
  padding-bottom: 50px;
  padding-top: 50px;
}
table .actions {
  display: none;
}
table tr:hover .actions {
  display: block;
}
.actions .glyphicon {
  cursor: pointer;
}
nav.goBack {
  font-weight: bold;
}
.account-info {
  float: right;
  margin: 20px 0 10px;
}
.account-info .btn {
  margin-left: 20px;
}
.account-info .person img {
  max-width: 25px;
  max-height: 25px;
}
.container.loading .hideLoading {
  display: none;
}
.flex {
  display: -ms-flexbox;
  -ms-box-orient: horizontal;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
.flex.center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.textNode {
  text-transform: capitalize;
}
.actions {
  text-align: right;
  white-space: nowrap;
}
.action {
  cursor: pointer;
}
.label-primary a.glyphicon {
  color: #fff;
}
.bucketForm .input-group .form-control {
  width: 50px;
}
@media( min-resolution: 192dpi) {
  .brand:before {
    background-image: url("../img/logo2x.png");
  }
}
@media( max-width: 767px) {
  .brand {
    height: 45px;
    margin: 12px 0 8px 60px;
    padding: 0 0 0 15px;
  }
  .brand:before {
    height: 45px;
    width: 45px;
    left: -55px;
    top: -2px;
  }
  .brand h1,
  .brand .h1 {
    letter-spacing: 13px;
    line-height: 1;
    margin-top: -2px;
  }
  .brand h2,
  .brand .h2 {
    font-size: 10px;
    letter-spacing: 4.94px;
    line-height: 1.1;
  }
  .account-info {
    margin: 0;
  }
}
