body > header {
  background: #a55871;
  background: radial-gradient(ellipse at 50% 15%, #fda08d 0%, #cd051f 25%, #d0021b 30%, #a55871 65%);
  color: #fff;
  overflow: auto;
}
body > header a,
body > header a:hover {
  color: #fff;
}
body > header .brand {
  display: inline-block;
  border-width: 0 1px;
  border-style: solid;
  border-color: #d8d8d8;
  height: 69px;
  margin: 31px 0 25px 100px;
  padding: 5px 11px 5px 25px;
  position: relative;
}
body > header .brand:before {
  content: '';
  display: block;
  background: url("../img/logo.png");
  height: 80px;
  width: 80px;
  position: absolute;
  left: -100px;
  top: -6px;
}
body > header .brand:hover {
  text-decoration: none;
}
body > header .brand h1,
body > header .brand .h1,
body > header .brand h2,
body > header .brand .h2 {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
}
body > header .brand h1,
body > header .brand .h1 {
  letter-spacing: 18px;
  line-height: 43px;
}
body > header .brand h2,
body > header .brand .h2 {
  font-size: 12px;
  letter-spacing: 5.04px;
  line-height: 15px;
}
body {
  font-family: 'Maven Pro', sans-serif;
  background-color: #f6f6f6;
}
h2,
.h2 {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5.22px;
}
h2 label,
.h2 label {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  letter-spacing: normal;
}
a {
  color: #000;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  border-radius: 0;
}
.input-group-addon {
  background: transparent;
  border: 0;
}
.panel-default > .panel-heading {
  background-color: rgba(102,102,102,0.1);
}
.table {
  border-top: 1px solid #d8d8d8;
  border-collapse: separate;
}
.table > thead > tr > th {
  border-bottom: 1px solid #d8d8d8;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #fff;
  font-weight: 500;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 1px solid #fff;
}
.table-striped > tbody > tr > td,
.table-striped > tbody > tr > th {
  border-top: 1px solid #fff;
}
.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: transparent;
}
.table-striped > tbody > tr:nth-child(odd) > th {
  color: #fff;
  background-color: rgba(208,2,27,0.5);
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: rgba(216,216,215,0.33);
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background: rgba(208,2,27,0.8);
  color: #fff;
  cursor: pointer;
}
.panel > .list-group .list-group-item:hover {
  background: rgba(208,2,27,0.8);
  color: #fff;
}
[data-ng-view] {
  padding-bottom: 50px;
  padding-top: 50px;
}
table .actions {
  display: none;
}
table tr:hover .actions {
  display: block;
}
nav.goBack {
  font-weight: bold;
}
.account-info {
  float: right;
  margin: 20px 0 10px;
}
.account-info .btn {
  margin-left: 20px;
}
.account-info .person img {
  max-width: 25px;
  max-height: 25px;
}
.container.loading .hideLoading {
  display: none;
}
.flex {
  display: -ms-flexbox;
  -ms-box-orient: horizontal;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
.flex.center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.textNode {
  text-transform: capitalize;
}
.actions {
  text-align: right;
  white-space: nowrap;
}
.action {
  cursor: pointer;
}
.label-primary a.glyphicon {
  color: #fff;
}
.bucketForm .input-group .form-control {
  width: 50px;
}
